@model IEnumerable<LetsTalk.Models.Rate>

@{
    ViewData["Title"] = "Index";
}

<h1>Rate page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    Rate average:  
</div>
<form asp-action="Index">
    <input name = "query" id="search" />
    <input type = "submit" type = "Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script type="text/html" id="template">
         <tr>
            <td>
                {name}
            </td>
            <td>
                {rateNum}
            </td>
            <td>
                {text}
            </td>
            <td>
                {getDate}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="{id}">Edit</a> |
                <a asp-action="Details" asp-route-id="{id}">Details</a> |
                <a asp-action="Delete" asp-route-id="{id}">Delete</a>
            </td>
        </tr>
    </script>

<script src="~/js/index.js"></script>
}