@model IEnumerable<LetsTalk.Models.Rate>

@{
	ViewData["Title"] = "Index";
}
<body>
<h1>Rate page</h1>
@{
	float sum = 0;
	float count = 0;
	float avg = 0;
	
	foreach (var item in Model)
	{
		sum += @item.RateNum;
		count++;

	}
	if (count != 0)
	{
		avg = sum / count;
		<h2>
		<div class ="floatable_div" >
					Rate average: @avg
		</div>
		</h2>
	}
}


<form asp-action="Index" id ="searchMiddele">
	<input name = "query" id="search" placeholder="search.." />
	<input type = "submit" type = "Search" />
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Rate
			</th>
			<th>
				Notes
			</th>
			<th>
				Date
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RateNum)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Text)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GetDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<a asp-action="Create" class="btn btn-primary" role="button">Creat new rate</a>
<a href='http://localhost:3000' class="btn btn-primary" role="button">Back home page</a>

</body>

@section Scripts{
    <script>
        var sum=0;
        var count =0;
foreach (var item in Model) {
    sum+=item.RateNum;
    count++;
}
if (Sum!=0) {
        double avg = sum / count;
        }
    </script>
    <script type="text/html" id="template">
         <tr>
            <td>
                {name}
            </td>
            <td>
                {rateNum}
            </td>
            <td>
                {text}
            </td>
            <td>
                {getDate}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="{id}">Edit</a> |
                <a asp-action="Details" asp-route-id="{id}">Details</a> |
                <a asp-action="Delete" asp-route-id="{id}">Delete</a>
            </td>
        </tr>
    </script>

<script src="~/js/index.js"></script>
}